* {
  font-family: 'EB Garamond', serif;
  font-variant-ligatures: common-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: historical-ligatures;
  font-variant-ligatures: contextual;
}

body {
  font-size:128%;
}

h1.title {
  font-size:2.3em;
  line-height:115%;
  text-align:center;
}

h1.subtitle {
  font-size:1.5em;
  line-height:110%;
  text-align:center;
}

h2.author {
  padding-top:1.5em;
  font-size:1em;
  text-align:center;
}

div.top-center p {
  text-align:center;
  margin-bottom:0;
  line-height:110%;
}

.blur {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

nav#TOC > ul {
  padding:1.8em 0;
}

nav#TOC ul,
nav#TOC ul ul,
nav#TOC ul ul ul {
  list-style-type:none;
}

nav#TOC a {
  color:black;
  text-decoration:none;
  font-size:1.2em;
}

nav#TOC a:hover {
  text-decoration:underline;
}

figure embed {
  width: 100%;
}

figcaption {
  text-align:center;
}

table {
  margin-left:auto;
  margin-right:auto;
}

table > caption {
  caption-side: bottom;
  margin-top:1em;
  margin-bottom:1.5em;
}

table > thead {
  border-bottom: 2px solid black;
}

table tr {
  border-bottom: 1px solid black;
}

table tr td,
thead tr th {
  padding: 0.1em 0.4em 0.1em 0.4em;
}

code {
  font-family: 'Droid Sans Mono' ;
  font-size: 80%;
}
